.section-container {
  max-width: max-content;
  min-width: 50vw;
  min-height: 90vh;
  margin: auto;
}

.boxStyles {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

a {
  text-decoration: none;
}

a:active {
  color: inherit;
}
